/*Inicializaciones e import*/
/* Design on mobile first methodology */
@import '/static/css/var.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--rubik-font);
    display: grid;
    grid-template-rows: repeat(7, 250px);
    gap: 24px;
    justify-items: center;
    background-color: var(--blue-very-dark-neutral);
    color: #ffffff;
}

/* Profile section */

.section-profile {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.6rem;
    background-color: var(--blue-dark-neutral);
    width: 300px;
    height: 150px;
    border-radius: 8px;
}

.section-profile .information-profile {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
    justify-content: center;
    background-color: var(--blue-primary);
    border-radius: 8px;
    width: inherit;
    height: 120px;
}

.section-profile .profile-image {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px #ffffff solid ;
    margin-right: 16px;
}

.section-profile .p-profile {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
}

.p-profile :nth-child(1) {
    font-size: 0.6rem;
    font-weight: 300;
    color: var(--blue-pale-neutral);
}
.p-profile :nth-child(2) {
    font-size: 1rem;
    font-weight: 300;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: inherit;
}
.buttons button{
    cursor: pointer;
    background-color: transparent;
    font-size: 0.6rem;
    color: var(--blue-pale-neutral);
    border: none;
    margin: 16px;
}
.buttons button :active {
    color: #ffffff;
}

/* cards section */

.container-task {
    display: grid;
    position: relative;
    background-color: white;
    height: 95px;
    min-width: 300px;
    max-width: 770px;
    width: 300px;
    border-radius: 16px;
    margin-bottom: 24px;
}

.div-task {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: var(--blue-dark-neutral);
    width: inherit;
    height: 70px;
    top: 10px;
    margin-top: 16px;
    border-radius: 16px;
}
.div-task .div-task-p {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.div-task-p .div-task-p-title {
    font-size: 0.6rem;
    font-weight: 400;
    margin-bottom: 6px;
}

.div-task-p-current  {
    font-size: 1rem;
    font-weight: 400;
}
.progress {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}
.progress .progress-image {
    width: 15px;
    height: 5px;
    color: var(--blue-pale-neutral);
    margin-bottom: 10px;
}
.progress .progress-p {
    color: var(--blue-pale-neutral);
    font-size: 0.6rem;
    font-weight: 300;
}
/* 
div task display flex
div-task-p display column // 1 hijo 
div-task-p-title 
div-task-p-current 

progress 
progress-image (tres punticos)
progress-p (El last)
*/
