/*Inicializaciones e import*/
/* Design on mobile first methodology */
@import '/static/css/var.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--rubik-font);
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    justify-content: center;
    background-color: var(--blue-very-dark-neutral);
    color: #ffffff;
}
div {
    border-radius: 8px;
}

.section-profile {
    display: flex;

}

.container-task {
    display: grid;
    position: relative;
    background-color: white;
    min-width: 300px;
    max-width: 770px;
    width: 300px;
    height: 150px;
    margin-bottom: 170px;
}

.div-task {
    position: absolute;
    background-color: red;
    width: inherit;
    height: 150px;
    top: 50px;
    margin-top: 16px;
}
.div-task div {
    display: grid;
    color: seagreen;
}

.section-profile button {
    display: flex;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}


